/* Reset */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* HTML */
html {
	scroll-behavior: smooth;
}

body,
button,
input {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

/* Body */
body {
	margin: 0;
	background-color: var(--body-color);
	color: var(--text-color);
	transition: 0.4s; /*For animation dark mode*/
}

/* Heading */
h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

/* Unordered List */
ul {
	list-style: none;
}

/* Anchor Element */
a {
	text-decoration: none;
}

/* Image */
img {
	max-width: 100%;
	height: auto;
}

/* Button */
button {
	cursor: pointer;
	border: none;
	outline: none;
}
